<?xml version="1.0" ?>
<launch>
  <arg name="panda_ip" default="172.16.1.2"/>

  <arg name="robot_id" default="panda_arm" />
  <arg name="debug"    default="false" />
  <arg name="rviz"     default="true" />
  <arg name="load_gripper"  default="false" />

  <include file="$(find franka_control)/launch/franka_combined_control.launch" >
    <arg name="robot"     value="$(find franka_description)/robots/panda_arm_hand.urdf.xacro" />
    <arg name="robot_id"  value="$(arg robot_id)" />
    <arg name="robot_ips" value="panda_arm/robot_ip : $(arg panda_ip)}" />
    <arg name="hw_config_file"   value="$(find jsk_panda_startup)/config/panda_control_node.yaml"/>
    <arg name="controllers_file" value="$(find jsk_panda_startup)/config/panda_controllers.yaml" />
    <arg name="controllers_to_start"     value="state_controller panda_effort_joint_trajectory_controller"/>
    <arg name="joint_states_source_list" value="[state_controller/joint_states, franka_gripper/joint_states]"/>
  </include>

  <!-- <group ns="$(arg robot_id)"> -->
  <!--   <include file="$(find franka_gripper)/launch/franka_gripper.launch" > -->
  <!--     <arg name="robot_ip" value="$(arg panda_ip)" /> -->
  <!--     <arg name="stop_at_shutdown" value="true" /> -->
  <!--     <arg name="arm_id" value="arm" /> -->
  <!--   </include> -->
  <!-- </group> -->

</launch>
